// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

// TODO: could define this for a variable number of input keys... Ask Geepers
#define HANDSDOWN_SHIFT_MACRO_MACRO(NAME, KEY1, KEY2) \
shift_ ## NAME: shift_ ## NAME { \
  compatible = "zmk,behavior-macro"; \
  #binding-cells = <0>; \
  bindings \
    = <&macro_tap &kp LS(KEY1) &kp KEY2> \
    ; \
}; \
normal_ ## NAME: normal_ ## NAME { \
  compatible = "zmk,behavior-macro"; \
  #binding-cells = <0>; \
  bindings \
    = <&macro_tap &kp KEY1 &kp KEY2> \
    ; \
};

// TODO: The mod-shift behavior is dependent on the shift key hold-tap timeout-ms...
// For example, if I type the "th" really fast after pressing the shift key, then I get
// the "normal" version of this mod-morph, which then gets returned to the shift modifier
// (which has now triggered due to time.)
#define HANDSDOWN_MORPH_MACRO_MACRO(NAME) \
morph_ ## NAME: morph_ ## NAME { \
  compatible = "zmk,behavior-mod-morph"; \
  #binding-cells = <0>; \
  bindings = <&normal_ ## NAME>, <&shift_ ## NAME>; \
  mods = <(MOD_LSFT|MOD_RSFT)>; \
};

#define HANDSDOWN_COMBO_TERM 15
#define HANDSDOWN_COMBO_TERM_LONG 50
#define HANDSDOWN_COMBO_MACRO(LAYER, POSITION, BINDING, TAPPING_TERM) \
handsdown_combo_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <HANDSDOWN_COMBO_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <TAPPING_TERM>; \
};


/{
  macros {
    HANDSDOWN_SHIFT_MACRO_MACRO(qu, Q, U)
    HANDSDOWN_SHIFT_MACRO_MACRO(th, T, H)
    HANDSDOWN_SHIFT_MACRO_MACRO(sh, S, H)
    HANDSDOWN_SHIFT_MACRO_MACRO(ch, C, H)
    HANDSDOWN_SHIFT_MACRO_MACRO(wh, W, H)
    HANDSDOWN_SHIFT_MACRO_MACRO(gh, G, H)
  };
};

/{
  behaviors {
    HANDSDOWN_MORPH_MACRO_MACRO(qu)
    HANDSDOWN_MORPH_MACRO_MACRO(th)
    HANDSDOWN_MORPH_MACRO_MACRO(sh)
    HANDSDOWN_MORPH_MACRO_MACRO(ch)
    HANDSDOWN_MORPH_MACRO_MACRO(wh)
    HANDSDOWN_MORPH_MACRO_MACRO(gh)
  };
};

/ {
  combos {
    compatible = "zmk,combos";
    HANDSDOWN_COMBO_MACRO(U_EXTRA, J, &kp J, HANDSDOWN_COMBO_TERM_LONG)
    HANDSDOWN_COMBO_MACRO(U_EXTRA, Z, &kp Z, HANDSDOWN_COMBO_TERM)
    HANDSDOWN_COMBO_MACRO(U_EXTRA, QU, &morph_qu, HANDSDOWN_COMBO_TERM)
    HANDSDOWN_COMBO_MACRO(U_EXTRA, TH, &morph_th, HANDSDOWN_COMBO_TERM)
    HANDSDOWN_COMBO_MACRO(U_EXTRA, SH, &morph_sh, HANDSDOWN_COMBO_TERM)
    HANDSDOWN_COMBO_MACRO(U_EXTRA, CH, &morph_ch, HANDSDOWN_COMBO_TERM)
    HANDSDOWN_COMBO_MACRO(U_EXTRA, WH, &morph_wh, HANDSDOWN_COMBO_TERM)
    HANDSDOWN_COMBO_MACRO(U_EXTRA, GH, &morph_gh, HANDSDOWN_COMBO_TERM)
  };
};
